<%- include("../partials/header") %>
<div class="row justify-content-center">
    <div class="col-md-12 m-3 text-center">
        <h1>Edit <%= campground.name %></h1>
    </div>
    <div class="card col-md-6 mt-2 mb-4 p-4">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
            </div>
            <div class="form-group">
                <label for="image">Image URL</label>
                <input class="form-control type="text" name="campground[image]" value="<%= campground.image %>">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <div class="form-inline">
                    <!-- CURRENCY NOT DISPLAYING -->
                    <select class="form-control w-25" name="campground[currency]">
                        <option value="original" selected disabled><%= campground.currency %></option>
                        <option value="B$">B$</option>
                        <option value="៛">៛</option>
                        <option value="US$">US$</option>
                        <option value="Rp">Rp</option>
                        <option value="₭">₭</option>
                        <option value="RM">RM</option>
                        <option value="K">K</option>
                        <option value="₱">₱</option>
                        <option value="S$">S$</option>
                        <option value="฿">฿</option>
                        <option value="₫">₫</option>
                    </select>
                    <input class="form-control w-75" type="number" name="campground[price]" value="<%= campground.price %>" min="0" step="0.01">
                </div>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" value="<%= campground.location %>">
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                 <select class="form-control" name="campground[country]">
                    <option value="original" selected disabled><%= campground.country %></option>
                    <option value="Brunei">Brunei</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="East Timor">East Timor</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Laos">Laos</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Philippines">Philippines</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Vietnam">Vietnam</option>
                 </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="campground[description]" value="<%= campground.description %>" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Update</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>
<%- include("../partials/footer") %>