<%- include("../partials/header") %>
<div class="row">
    <div class="col-md-9 ml-auto mr-auto mb-4">
        <!-- Campground section -->
        <div class="card p-2 mb-4">
            <img class="campground-image card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
            <div class="card-body">
                <h2 class="h6 text-right"><%= campground.currency%><%= campground.price %>/night<h2>
                <h2 class="h6 text-right"><%= campground.location %>, <%= campground.country %></h2>
                <h3 class="card-title"><%= campground.name %></h3>
                <p><%= campground.description %></p>
                <p class="post-author text-right">Posted by <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %>  </p>
                <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="delete-btn" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                <% } %> 
            </div>
        </div>
        <!-- Comments section -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="col-md-12 d-flex justify-content-between align-items-end">
                    <h4>Comments</h4>
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a>
                </div>
                <hr>
                <div class="row">
                    <% campground.comments.forEach(comment => { %>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="float-left">
                                        <h6 class="card-title"><%= comment.author.username %></h6>
                                        <p class="card-text"><%= comment.text %></p>
                                    </div>
                                    <div class="float-right">
                                        <p><%= moment(comment.createdAt).fromNow() %> </p>
                                        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                           <div class="float-right">
                                                <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                                <form class="delete-btn" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                    <input class="btn btn-danger" type="submit" value="Delete">
                                                </form>
                                           </div>
                                        <% } %>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>